# Git attributes file to customize language statistics

# Exclude script files from language statistics
*.js linguist-vendored
*.sh linguist-vendored
*.bat linguist-vendored
*.mak linguist-vendored
makefile linguist-vendored

# Exclude folders
images/** linguist-detectable=false
.projects/** linguist-detectable=false

# Ensure C and assembly files are correctly identified (important for accurate stats)
examples/** linguist-detectable=true
#*.asm linguist-language=Assembly
#*.inc linguist-language=Assembly
#*.c linguist-language=C
#*.h linguist-language=C

#*.c linguist-detectable=true
#*.h linguist-detectable=true
#*.asm linguist-detectable=true
#*.inc linguist-detectable=true

*.* linguist-language=Assembly
